/* content */
.spanning {
    clear: both;
}
.services-hero {
    padding: 82px 0 220px;
    background-color: #f1f0f0;
    background-position: 50% 100%;
    background-repeat: no-repeat;
}
.services-hero-content {
    h5 {
        margin-bottom: 40px;
        font-size: 20px;
        line-height: 1.2;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
        position: relative;
        padding-left: 14.29%;
        &:before {
            content: "";
            position: absolute;
            top: 50%;
            transform: translate3d(0, -50%, 0);
            left: 0;
            width: 32px;
            height: 5px;
            margin-top: 1px;
            background: $green;
        }
    }
    h1 {
        font-size: 58px;
        line-height: 1.035;
        margin-bottom: 45px;
        font-weight: bold;
        letter-spacing: -0.5px;
    }
    p {
        font-size: 26px;
        line-height: 1.154;
        font-weight: 300;
        color: #111111;
        letter-spacing: -0.2px;
        margin-bottom: 26px;
    }
}
.services-features {
    margin-top: -105px;
    margin-bottom: 55px;
    color: $w;
}
.services-features-free {
    padding: 46px 8.3334%;
}
.services-features-free-title {
    font-size: 24px;
    line-height: 1.2;
    font-weight: 300;
    letter-spacing: -0.2px;
    margin-bottom: 35px;
}
.services-features-free-list {
    display: flex;
    flex-wrap: wrap;
    li {
        flex: 0 0 50%;
        max-width: 50%;
        padding: 0 20px 0 50px;
        margin-bottom: 13px;
        font-size: 16px;
        line-height: 1.25;
        font-weight: bold;
        text-transform: uppercase;
        color: #fffdfd;
        letter-spacing: 0.8px;
        position: relative;
        &:before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            width: 35px;
            height: 33px;
            transform: translate3d(0, -50%, 0);
            background: url('../upload/icon-advantage.svg') 0 0 no-repeat;
            background-size: 35px 33px;
        }
        span {
            display: flex;
            min-height: 60px;
            align-items: center;
        }
    }
}
.services-features-cta {
    position: relative;
    z-index: 2;
    padding: 43px 9.091% 62px;
    h4 {
        font-size: 32px;
        line-height: 1.2;
        font-weight: bold;
        letter-spacing: -0.3px;
        margin-bottom: 15px;
    }
    p {
        font-size: 18px;
        line-height: 1.1112;
        font-weight: 300;
        opacity: 0.58;
        margin-bottom: 46px;
    }
}
.services-features-cta-bg {
    position: absolute;
    left: 25%;
    top: 22px;
    backface-visibility: hidden;
    .svg {
        position: relative;
        right: -4%;
    }
}
.services-registration {
    margin-bottom: 52px;
}
.services-registration-caption {
    h2 {
        font-size: 48px;
        line-height: 1.042;
        font-weight: bold;
        letter-spacing: -0.5px;
        margin-bottom: 32px;
    }
    p {
        font-size: 22px;
        line-height: 1.364;
        color: #111111;
        font-weight: 300;
        letter-spacing: -0.3px;
        margin-bottom: 22px;
    }
}
.services-registration-caption-link {
    display: inline-block;
    vertical-align: top;
    font-size: 30px;
    line-height: 1.2;
    font-weight: bold;
    color: #24ada2;
    letter-spacing: -0.3px;
    position: relative;
    &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 1px;
        background: #3bbdb3;
        transition: background-color $d $f;
    }
    &:hover {
        color: $lh;
        &:before {
            background-color: $lh;
        }
    }
}
.services-registration-steps {
    display: flex;
    flex-wrap: wrap;
    padding-top: 65px;
    li {
        flex: 0 0 50%;
        max-width: 50%;
        padding-right: 7.1429%;
        margin-bottom: 50px;
    }
}
.services-registration-step {
    display: flex;
}
.services-registration-step-number {
    flex: 0 0 64px;
    max-width: 64px;
    padding-right: 17px;
}
.services-registration-step-img {
    display: block;
    height: 47px;
    background: #e7e7e7;
    border-radius: 50%;
    position: relative;
    span {
        position: absolute;
        left: 2px;
        bottom: -8px;
    }
    img {
        display: block;
    }
}
.services-registration-step-title {
    flex-grow: 1;
    font-size: 18px;
    line-height: 1.2223;
    font-weight: 300;
}
.services-registration-img {
    margin-top: -116px;
    img {
        display: block;
        width: 100%;
    }
}
.services-packages {
    margin-bottom: 56px;
    h2 {
        font-size: 48px;
        line-height: 1.042;
        font-weight: bold;
        letter-spacing: -0.5px;
        margin-bottom: 47px;
    }
}
.services-package-basic {
    margin-bottom: 57px;
    padding: 34px 0 37px;
    background: $s;
    color: $w;
}
.services-package-basic-caption {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
.services-package-basic-caption-text {
    padding-right: 45px;
    font-weight: bold;
    text-transform: uppercase;
}
.services-package-basic-caption-note {
    color: #9c9a9a;
    font-weight: 300;
    span {
        display: inline-block;
        vertical-align: top;
        margin: 4px 11px 0 0;
        padding: 4px;
        width: 19px;
        height: 19px;
        background: #64676f;
        border-radius: 50%;
        img {
            display: block;
            margin: 0 auto;
        }
    }
}
.services-package-basic-title {}
.services-package-basic-title-link {
    display: flex;
    &:hover {
        .services-package-basic-title-info {
            color: $t;
        }
    }
}
.services-package-basic-title-img {
    flex: 0 0 72px;
    max-width: 72px;
    padding-right: 23px;
    padding-top: 4px;
}
.services-package-basic-title-ico {
    display: flex;
    align-items: center;
    height: 49px;
    background: #525969;
    img {
        display: block;
        margin: 0 auto;
        width: 32px;
    }
}
.services-package-basic-title-content {
    flex-grow: 1;
}
.services-package-basic-title-info {
    display: block;
    padding-right: 40px;
    margin-bottom: 3px;
    font-size: 24px;
    line-height: 1.2;
    font-weight: bold;
    color: $w;
    letter-spacing: -0.2px;
    transition: color $d $f;
}
.services-package-basic-title-text {
    display: block;
    letter-spacing: -0.25px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.59);
}
.services-package-basic-more {}
.services-package-basic-advantages {
    display: flex;
    flex-wrap: wrap;
    padding-top: 5px;
    li {
        flex: 0 0 50%;
        max-width: 50%;
        padding: 0 7.1429% 20px 20px;
        font-weight: 300;
        letter-spacing: -0.2px;
        position: relative;
        &:before {
            content: "";
            position: absolute;
            top: 10px;
            left: 0;
            width: 6px;
            height: 6px;
            background: #737c92;
            border-radius: 50%;
        }
    }
}
.services-package {
    text-align: center;
    letter-spacing: -0.2px;
    &:hover {
        .services-package-more {
            opacity: 1;
        }
    }
}
.services-package-caption {}
.services-package-img {
    margin-bottom: 33px;
    span {
        display: flex;
        align-items: center;
        width: 97px;
        height: 97px;
        margin: 0 auto;
        background: #c3d1f6;
    }
    img {
        display: block;
        margin: 0 auto;
        width: 54px;
    }
}
.services-package-img-2 {
    img {
        width: 49px;
    }
}
.services-package-title {
    margin-bottom: 34px;
}
.services-package-title-link {
    display: inline-block;
    vertical-align: top;
    font-size: 32px;
    line-height: 1.2;
    font-weight: bold;
    color: $text;
    margin-bottom: 12px;
    &:hover {
        color: #383737;
    }
}
.services-package-toggle {}
.services-package-title-info {
    font-size: 18px;
    line-height: 1.2223;
    font-weight: 300;
    color: #696969;
    min-height: 44px;
    padding: 0 10px;
}
.services-package-include {
    padding: 17px 0;
    border-top: 3px solid #e8e8e8;
    border-bottom: 3px solid #e8e8e8;
}
.services-package-include-img {
    display: inline-block;
    vertical-align: top;
    margin-top: 2px;
    margin-right: 10px;
    span {
        display: flex;
        align-items: center;
        width: 48px;
        height: 48px;
        background: #e6e6e6;
        border-radius: 50%;
    }
    img {
        display: block;
        width: 27px;
        margin: 0 auto;
    }
}
.services-package-include-title {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    font-size: 18px;
    line-height: 1.2223;
    font-weight: bold;
    color: #111111;
}
.services-package-options {
    display: block !important;
}
.services-package-options-list {
    display: block;
    padding: 4px 0 21px;
    li {
        font-size: 18px;
        line-height: 1.2223;
        font-weight: 300;
        color: #111111;
        padding: 23px 30px 24px;
        position: relative;
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate3d(-50%, 0, 0);
            width: 20px;
            height: 2px;
            background: #cecece;
        }
        &:nth-child(2) {
            &:before {
                display: none;
            }
        }
        span {
            display: block;
            font-size: 16px;
            line-height: 1.125;
            color: #909090;
            padding-top: 5px;
        }
    }
}
.services-package-more {
    opacity: 0;
    transition: opacity $d $f;
    .button {
        min-width: 230px;
    }
}
.services-packages-compare {
    text-align: center;
    padding-top: 20px;
}
.services-packages-compare-link {
    display: inline-block;
    vertical-align: top;
    font-weight: bold;
    text-transform: uppercase;
    color: #24ada2;
    letter-spacing: 0.4px;
    &:hover {
        color: $lh;
        .svg-fill {
            fill: $lh;
        }
    }
}
.services-packages-compare-ico {
    display: inline-block;
    vertical-align: top;
    margin: 5px 10px 0 0;
    width: 29px;
}
.services-partners {
    margin-bottom: 59px;
    padding: 49px 0 32px;
    background: $s;
    color: $w;
}
.services-partners-title {
    margin-bottom: 44px;
    h4 {
        font-size: 32px;
        line-height: 1.125;
        font-weight: bold;
        letter-spacing: -0.4px;
    }
}
.services-partners-slider-wrapper {}
.services-partners-item {
    display: block;
    padding: 56px 10px 0;
    height: 371px;
    overflow: hidden;
    color: $w;
    text-align: center;
    letter-spacing: -0.2px;
    background: #555c6d;
    &:hover {
        color: $w;
        .services-partners-item-title {
            color: $t;
        }
    }
}
.services-partners-item-img {
    display: block;
    margin-bottom: 26px;
    img {
        display: block;
        margin: 0 auto;
        max-width: 136px;
        border-radius: 50%;
    }
}
.services-partners-item-title {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    height: 48px;
    overflow: hidden;
    padding: 0 40px;
    transition: color $d $f;
}
.services-partners-item-offer {
    display: block;
    font-size: 36px;
    line-height: 1.0556;
    font-weight: 300;
    margin-bottom: 8px;
    margin-top: -4px;
}
.services-partners-item-offer-note {
    display: block;
    font-weight: 300;
}
.services-account {
    padding-bottom: 62px;
    h3 {
        font-size: 48px;
        line-height: 1.042;
        font-weight: bold;
        letter-spacing: -0.5px;
        margin-bottom: 61px;
    }
}
.services-account-steps {
    display: flex;
    flex-wrap: wrap;
    margin-right: -4.34783%;
    margin-bottom: 27px;
}
.services-account-step {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
    padding-right: 4.34783%;
    padding-bottom: 40px;
}
.services-account-step-content {
    display: flex;
    align-items: center;
}
.services-account-step-number {
    flex: 0 0 86px;
    max-width: 86px;
    padding-right: 20px;
}
.services-account-step-img {
    height: 66px;
    background: #e5e5e5;
    border-radius: 50%;
    position: relative;
    span {
        position: absolute;
        left: 6px;
        bottom: -16px;
        width: 42px;
    }
    img {
        display: block;
        width: 100%;
    }
}
.services-account-step-title {
    flex-grow: 1;
    padding-top: 10px;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 300;
    letter-spacing: -0.2px;
}
.services-account-documents {
    display: flex;
    align-items: center;
}
.services-account-documents-title {
    flex: 0 0 34.78261%;
    max-width: 34.78261%;
    padding-right: 8.69565%;
    position: relative;
    &:before {
        content: "";
        position: absolute;
        top: 50%;
        right: 12.5%;
        width: 12.5%;
        height: 1px;
        background: #b5b5b5;
    }
    h4 {
        font-size: 24px;
        line-height: 1.2;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.2px;
        padding-right: 10px;
    }
}
.services-account-documents-list-wrapper {
    flex: 0 0 65.21739%;
    max-width: 65.21739%;
}
.services-account-documents-list {
    display: flex;
    li {
        position: relative;
        padding: 0 20px 0 50px;
        &:before {
            content: "";
            position: absolute;
            top: 6px;
            left: 0;
            bottom: 5px;
            width: 1px;
            background: #cfcfcf;
        }
        &:first-child {
            padding-left: 0;
            &:before {
                display: none;
            }
        }
        a {
            display: block;
            padding-right: 20px;
            font-size: 18px;
            line-height: 1.4445;
            font-weight: 300;
            color: #24ada2;
            letter-spacing: -0.2px;
            &:hover {
                color: $lh;
                .svg-fill {
                    fill: $lh;
                }
            }
        }
    }
}
.services-account-download {
    display: inline-block;
    vertical-align: middle;
    margin-right: -20px;
    width: 15px;
    margin-left: 5px;
}
.services-order {
    position: relative;
    background: $blue;
}
.services-order-bg {
    position: absolute;
    bottom: 0;
    right: 0;
    max-height: 80%;
    overflow: hidden;
    backface-visibility: hidden;
}
.services-order-content {
    position: relative;
    z-index: 2;
    padding: 55px 0;
}
.services-order-title {
    margin-bottom: 43px;
    h3 {
        display: inline-block;
        vertical-align: top;
        margin-right: 23px;
        font-size: 48px;
        line-height: 1.042;
        font-weight: bold;
        color: $w;
    }
}
.services-order-title-info {
    display: inline-block;
    vertical-align: top;
    padding-top: 20px;
    font-size: 22px;
    line-height: 1.364;
    font-weight: bold;
    color: #86a8fc;
}
.services-order-step {
    h5 {
        font-size: 22px;
        line-height: 1.2;
        font-weight: bold;
        color: $w;
        margin-bottom: 20px;
    }
    .button,
    .button.button-bordered {
        padding-left: 30px;
        padding-right: 30px;
        min-width: 267px;
    }
}
.services-order-step-1 {}
.services-order-step-2 {
    display: none;
}
.services-order-step-error {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
    color: #fe9e9e;
    letter-spacing: -0.3px;
    padding-top: 19px;
    margin-bottom: 7px;
}
.services-order-step-input {
    margin-bottom: 25px;
    position: relative;
    &:before {
        opacity: 0;
        content: "";
        position: absolute;
        top: 50%;
        left: -31px;
        width: 19px;
        height: 19px;
        background: url('../images/error.svg') 0 0 no-repeat;
        background-size: 19px 19px;
        transform: translate3d(0, -50%, 0);
        transition: opacity $d $f;
    }
    &.error {
        &:before {
            opacity: 1;
        }
    }
    label.error {
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        margin-top: 6px;
        font-size: 16px;
        line-height: 1;
        font-weight: 300;
        color: #fe9e9e;
        letter-spacing: -0.3px;
    }
}
.services-order-step-city {
    position: relative;
    letter-spacing: -0.3px;
    margin-bottom: 25px;
    &:before {
        opacity: 0;
        content: "";
        position: absolute;
        top: 50%;
        left: -31px;
        width: 19px;
        height: 19px;
        background: url('../images/error.svg') 0 0 no-repeat;
        background-size: 19px 19px;
        transform: translate3d(0, -50%, 0);
        transition: opacity $d $f;
    }
    &.error {
        &:before {
            opacity: 1;
        }
    }
    &.active {
        .services-order-step-city-toggle-arrow {
            .svg {
                transform: rotate(-180deg);
            }
        }
    }
    label.error {
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        margin-top: 6px;
        font-size: 16px;
        line-height: 1;
        font-weight: 300;
        color: #fe9e9e;
        letter-spacing: -0.3px;
    }
}
.services-order-step-city-toggle {
    display: block;
    position: relative;
    z-index: 2100;
    height: 53px;
    padding: 12px 30px 15px 3px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    color: $w;
    border-bottom: 2px solid $w;
    &:hover,
    &:focus {
        color: $w;
    }
}
.services-order-step-city-toggle-text {
    display: block;
    white-space: nowrap;
    overflow: hidden;
}
.services-order-step-city-toggle-arrow {
    position: absolute;
    right: 13px;
    top: 26px;
    .svg {
        width: 11px;
        transition: transform $d $f;
    }
}
.services-order-step-city-panel {
    position: absolute;
    z-index: 2000;
    left: -32px;
    right: -32px;
    top: -6px;
    padding: 84px 32px 28px 35px;
    background: #4466be;
}
.services-order-step-city-panel-scroll {
    max-height: 350px;
}
.services-order-step-city-list {
    display: block;
    li {
        padding: 0 15px 16px 0;
        a {
            display: block;
            padding-right: 20px;
            font-size: 18px;
            line-height: 24px;
            font-weight: 300;
            color: $w;
            span {
                display: inline-block;
                vertical-align: top;
                margin: 9px -20px 0 14px;
                width: 6px;
                height: 10px;
                position: relative;
                overflow: hidden;
                &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 6px;
                    height: 10px;
                    background: url('../images/arrow-right.svg') 0 0 no-repeat;
                    background-size: 6px 10px;
                    transition: transform $d $f;
                    transform: translate3d(-101%, 0, 0);
                }
            }
            &:hover {
                span {
                    &:before {
                       transform: translate3d(0, 0, 0);
                    }
                }
            }
        }
    }
}
.services-order-step-1-next {
    padding: 33px 0 10px;
}
.services-order-step-confirm {
    padding: 26px 0 16px;
}
.services-order-step-buttons {
    padding-top: 33px;
}
.services-order-step-2-back {
    float: left;
    margin: 0 30px 20px 0;
}
.services-order-step-2-send {
    float: left;
    margin-bottom: 20px;
}
.package {
    margin-bottom: 52px;
}
.package-info {
    padding: 36px 0 55px;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 100%;
        width: 9000px;
        background: #ececec;
    }
}
.package-info-all {
    margin-bottom: 43px;
    a {
        display: inline-block;
        vertical-align: top;
        position: relative;
        padding-left: 40px;
        font-weight: bold;
        color: #24ada2;
        letter-spacing: 0.6px;
        &:hover {
            color: $lh;
            .svg-stroke {
                stroke: $lh;
            }
        }
        .svg {
            position: absolute;
            left: 3px;
            top: 5px;
            width: 15px;
            transform: rotate(90deg);
        }
    }
}
.package-info-caption {}
.package-info-title {
    display: flex;
    margin-bottom: 47px;
}
.package-info-title-img {
    flex: 0 0 168px;
    max-width: 168px;
    padding-right: 35px;
    img {
        display: block;
        width: 100%;
    }
}
.package-info-title-text {
    flex-grow: 1;
    padding-top: 12px;
    padding-right: 10px;
    h1 {
        font-size: 60px;
        line-height: 1.0667;
        font-weight: bold;
        letter-spacing: -0.4px;
        span {
            display: block;
            padding: 0 0 8px 5px;
            font-size: 16px;
            line-height: 1.2;
            letter-spacing: 0.9px;
            text-transform: uppercase;
        }
    }
}
.package-info-button {}
.package-info-prices {
    display: flex;
    padding-right: 45px;
    margin-bottom: 62px;
}
.package-info-prices-category,
.package-info-prices-category-other {
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 30px;
    p {
        font-size: 14px;
        line-height: 20px;
        font-weight: 300;
        color: #111111;
    }
}
.package-info-prices-category-other {
    padding-right: 0;
    padding-left: 36px;
    position: relative;
    &:before {
        content: "";
        position: absolute;
        top: 5px;
        bottom: 0;
        left: 0;
        width: 6px;
        background: #dcdcdc;
    }
}
.package-info-prices-number {
    font-size: 19px;
    line-height: 34px;
    font-weight: bold;
    margin-bottom: 10px;
    strong {
        font-size: 32px;
        letter-spacing: -0.2px;
    }
}
.package-advantages {
    padding: 40px 0 40px 12.87%;
    h5 {
        margin-bottom: 40px;
        font-size: 20px;
        line-height: 1.2;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
        position: relative;
        padding-left: 10%;
        &:before {
            content: "";
            position: absolute;
            top: 50%;
            transform: translate3d(0, -50%, 0);
            left: 0;
            width: 32px;
            height: 5px;
            margin-top: 1px;
            background: $green;
        }
    }
}
.package-advantages-list {
    display: flex;
    flex-wrap: wrap;
    padding: 7px 0 30px;
}
.package-advantages-item {
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 20%;
    margin-bottom: 15px;
}
.package-advantages-item-img {
    display: flex;
    align-items: flex-end;
    height: 90px;
    margin-bottom: 8px;
    img {
        display: block;
        width: 98px;
    }
}
.package-advantages-item-img-2 {
    img {
        width: 83px;
    }
}
.package-advantages-item-title {
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    min-height: 60px;
}
.package-advantages-compare {}
.package-include {
    margin-bottom: 75px;
    padding: 69px 0 59px;
    background: $s;
    color: $w;
    h2 {
        font-size: 48px;
        line-height: 1.042;
        font-weight: bold;
        margin-bottom: 56px;
    }
}
.package-include-list-wrapper {}
.package-include-list {
    display: block;
    li {
        position: relative;
        padding-left: 55px;
        font-size: 16px;
        line-height: 18px;
        font-weight: 300;
        color: rgba(255, 255, 255, 0.3);
        margin-bottom: 43px;
        &:before {
            content: "";
            position: absolute;
            top: 2px;
            left: 0;
            width: 34px;
            height: 30px;
            background: url('../upload/icon-advantage_c.svg') 0 0 no-repeat;
            background-size: 34px 30px;
        }
        strong {
            display: block;
            font-size: 22px;
            line-height: 24px;
            color: $w;
            margin-bottom: 16px;
        }
    }
}
.package-include-list-second {}
.package-include-show {
    padding-top: 14px;
    text-align: center;
}
.package-include-show-button {
    display: inline-block;
    vertical-align: top;
    position: relative;
    padding: 2px 0 2px 40px;
    font-weight: bold;
    text-transform: uppercase;
    color: $green;
    .svg {
        position: absolute;
        left: 0;
        top: 0;
        width: 21px;
        transition: transform $d $f;
    }
    &:hover {
        color: $lh;
        .svg-stroke {
            stroke: $lh;
        }
    }
    &.active {
        .svg {
            transform: rotate(-180deg);
        }
    }
    &.active {
        .package-include-show-button-normal {
            display: none;
        }
        .package-include-show-button-active {
            display: inline;
        }
    }
}
.package-include-show-button-active {
    display: none;
}
.packages-other {
    padding: 50px 0 40px;
    h4 {
        font-size: 32px;
        line-height: 1.125;
        font-weight: bold;
        letter-spacing: -0.2px;
        margin-bottom: 41px;
    }
}
.packages-other-list-wrapper {}
.packages-other-list {
    display: flex;
    min-height: 240px;
}
.packages-other-item {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    padding-left: 4.34783%;
    &:first-child {
        padding-left: 0;
    }
}
.packages-other-item-link {
    display: block;
    text-align: center;
    &:hover {
        .packages-other-item-title {
            color: #383737;
        }
    }
}
.packages-other-item-img {
    display: block;
    margin-bottom: 31px;
    span {
        display: flex;
        width: 97px;
        height: 97px;
        margin: 0 auto;
        align-items: center;
        background: #a9bef2;
    }
    img {
        display: block;
        margin: 0 auto;
        width: 49px;
    }
}
.packages-other-item-img-2 {
    img {
        width: 54px;
    }
}
.packages-other-item-title {
    display: block;
    padding: 0 40px 12px;
    font-size: 22px;
    line-height: 24px;
    font-weight: bold;
    color: $text;
    transition: color $d $f;
}
.packages-other-item-text {
    display: block;
    font-size: 18px;
    line-height: 22px;
    font-weight: 300;
    color: #696969;
    letter-spacing: -0.2px;
}
.article-hero {
    position: relative;
    overflow: hidden;
    margin-bottom: 47px;
}
.article-hero-img {
    height: 0;
    padding-top: 39.965%;
    position: relative;
    background-color: $lgr;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.4);
    }
}
.article-hero-content {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    bottom: 60px;
    color: $w;
}
.article-hero-category {
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    margin-bottom: 26px;
    a {
        color: #59ccc3;
        &:hover {
            color: $lh;
        }
    }
}
.article-hero-title {
    h1 {
        font-size: 44px;
        line-height: 50px;
        font-weight: bold;
        letter-spacing: -0.4px;
        margin-bottom: 31px;
    }
}
.article-hero-date {
    font-size: 22px;
    font-weight: 300;
    letter-spacing: -0.3px;
    position: relative;
    padding-left: 30px;
    &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate3d(0, -50%, 0);
        margin-top: 2px;
        width: 22px;
        height: 22px;
        background: url('../upload/icon-time.svg') 0 0 no-repeat;
        background-size: 22px 22px;
    }
}
.article-hero-info {
    padding-bottom: 20px;
    border-bottom: 9px solid #f3f3f3;
    p {
        font-size: 24px;
        line-height: 30px;
        font-weight: 300;
        color: #010101;
        letter-spacing: -0.3px;
        margin-bottom: 30px;
    }
}
.article {
    padding: 30px 0 50px;
}
.article-sidebar {}
.article-popular {
    h4 {
        margin-top: 0;
        margin-bottom: 20px;
        padding-bottom: 23px;
        border-bottom: 3px solid #dcdcdc;
    }
}
.article-popular-item {
    margin-bottom: 20px;
    padding-bottom: 25px;
    border-bottom: 3px solid #dcdcdc;
}
.article-popular-item-category {
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    a {
        color: #24ada2;
        &:hover {
            color: $lh;
        }
    }
}
.article-popular-item-title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
    letter-spacing: -0.1px;
    padding-right: 35px;
    a {
        display: block;
        color: $text;
    }
}
.article-content {}
.article-popular-clone {}
.article-product-block {
    .home-article {
        margin-bottom: 17px;
    }
}
.article-expert {
    padding-right: 116px;
    margin-bottom: -13px;
}
.article-social {
    padding-top: 18px;
}
.article-social-list {
    a {
        float: left;
        margin-right: 26px;
        margin-bottom: 20px;
        &:hover {
            span {
                background-color: $lh;
            }
        }
    }
    span {
        display: flex;
        align-items: center;
        width: 43px;
        height: 43px;
        background: #3bd3c7;
        border-radius: 50%;
        transition: background-color $d $f;
    }
    img {
        display: block;
        margin: 2px auto 0;
    }
}
.article-social-ico1 {
    img {
        width: 22px;
    }
}
.article-social-ico2 {
    img {
        width: 26px;
    }
}
.article-social-ico3 {
    img {
        width: 24px;
    }
}
.article-social-ico4 {
    img {
        width: 25px;
    }
}
.articles {}
.articles-item {
    overflow: hidden;
    margin-bottom: 60px;
    position: relative;
}
.articles-item-img {
    height: 0;
    padding-top: 57.714%;
    background-color: $lgr;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.articles-item-main {
    position: absolute;
    left: 9.091%;
    right: 9.091%;
    top: 33px;
    font-size: 22px;
    line-height: 28px;
    color: $w;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.3px;
}
.articles-item-content {
    position: absolute;
    left: 9.091%;
    right: 9.091%;
    bottom: 37px;
    .home-advice-number {
        padding-top: 23px;
    }
}
.articles-item-category {
    font-size: 18px;
    line-height: 22px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 13px;
    a {
        color: #4fb4ac;
        &:hover {
            color: $lh;
        }
    }
}
.articles-item-title {
    padding-right: 40px;
    font-size: 40px;
    line-height: 44px;
    font-weight: bold;
    max-height: 176px;
    overflow: hidden;
    a {
        display: block;
        color: $w;
    }
}
.articles-list {}
.articles-category {
    font-size: 40px;
    line-height: 44px;
    font-weight: bold;
    color: $w;
    letter-spacing: -0.3px;
    margin-bottom: 50px;
}
.articles-category-item {
    display: block;
}
.articles-category-item-img {
    display: block;
    margin-bottom: 45px;
    height: 0;
    padding-top: 56.98%;
    background-color: #4a505e;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.load-button-wrapper {
    text-align: center;
    padding: 20px 0 25px;
}
.load-button {
    display: inline-block;
    vertical-align: top;
    position: relative;
    padding: 11px 0 13px 42px;
    font-weight: bold;
    text-transform: uppercase;
    color: #24ada2;
    letter-spacing: 0.5px;
    .svg {
        position: absolute;
        left: 0;
        top: 10px;
        width: 21px;
    }
    &:hover {
        color: $lh;
        .svg-stroke {
            stroke: $lh;
        }
    }
}
.search {
    padding: 32px 0 14px;
}
.search-form {
    position: relative;
    margin-bottom: 45px;
}
input.search-form-text {
    float: left;
    width: 100%;
    height: 46px;
    padding: 1px 30px 10px 0;
    font-size: 24px;
    line-height: 34px;
    font-weight: 300;
    color: $text;
    border: 0;
    border-bottom: 1px solid #c3c3c3;
    background: $tr;
    transition: color $d $f;
    &::placeholder {
        color: #404040;
    }
}
.search-form-button {
    display: block;
    position: absolute;
    top: 10px;
    right: 0;
    width: 22px;
    &:hover {
        .svg-stroke {
            stroke: $lh;
        }
    }
}
.search-content {
    max-width: 784px;
    h1 {
        font-size: 34px;
        line-height: 38px;
        letter-spacing: -0.3px;
        margin-bottom: 18px;
    }
}
.search-result {
    display: flex;
    padding: 53px 0 55px;
    border-bottom: 1px solid #ededed;
    &.last {
        border-bottom: 0;
    }
}
.search-result-img-wrapper {
    flex: 0 0 150px;
    max-width: 150px;
    padding-top: 6px;
}
.search-result-img {
    height: 0;
    padding-top: 56.6667%;
    background-color: $lgr;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.search-result-content {
    flex-grow: 1;
    padding-left: 28px;
    p {
        font-weight: 300;
        color: #111111;
        letter-spacing: -0.2px;
    }
}
.search-result-category {
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 11px;
    a {
        display: inline-block;
        vertical-align: top;
        padding: 2px 10px 3px;
        margin-left: -11px;
        text-align: center;
        color: #24ada2;
        border: 1px solid $tr;
        &:hover {
            color: $lh;
        }
    }
    &.active {
        a {
            border-color: #24ada2;
            &:hover {
                border-color: $lh;
            }
        }
    }
}
.search-result-title {
    padding-right: 40px;
    margin-bottom: 17px;
    font-size: 23px;
    line-height: 28px;
    font-weight: bold;
    letter-spacing: -0.2px;
    a {
        color: $text;
        &:hover {
            color: $gray;
        }
    }
}
.all-services-hero {
    margin-bottom: 47px;
    padding: 88px 0 93px;
    background-color: #ededed;
    background-position: 50% 100%;
    background-repeat: no-repeat;
}
.all-services-hero-content {
    min-height: 236px;
}
.all-services-hero-category {
    font-size: 20px;
    line-height: 24px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 17px;
    a {
        color: #4fb4ac;
        &:hover {
            color: $lh;
        }
    }
}
.all-services-hero-title {
    margin-bottom: 38px;
    h1 {
        font-size: 48px;
        line-height: 52px;
        font-weight: bold;
        letter-spacing: -0.4px;
        padding-right: 40px;
        a {
            color: $text;
            &:hover {
                color: $gray;
            }
        }
    }
}
.all-services-hero-list {
    display: block;
    li {
        font-size: 22px;
        line-height: 28px;
        font-weight: 300;
        letter-spacing: -0.2px;
        position: relative;
        padding-left: 22px;
        padding-bottom: 15px;
        &:before {
            content: "";
            position: absolute;
            top: 12px;
            left: 0;
            width: 6px;
            height: 6px;
            background: #cecece;
            border-radius: 50%;
        }
    }
}
.all-services-hero-button {
    .button {
        min-width: 207px;
    }
}
.all-services {
    padding-bottom: 12px;
}
.all-services-category {
    h4 {
        margin-bottom: 36px;
        font-size: 20px;
        line-height: 1.2;
        font-weight: bold;
        text-transform: uppercase;
        position: relative;
        padding: 4px 0 4px 9.091%;
        &:before {
            content: "";
            position: absolute;
            top: 50%;
            transform: translate3d(0, -50%, 0);
            left: 0;
            width: 32px;
            height: 5px;
            margin-top: 1px;
            background: #24ada2;
        }
    }
}
.all-services-product {
    position: relative;
    margin-bottom: 46px;
    overflow: hidden;
}
.all-services-product-img {
    height: 0;
    padding-top: 58%;
    background-color: $lgr;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    &:after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0.5;
        background: linear-gradient(to bottom, rgba(44, 51, 56, 0) 0%, rgba(44, 51, 56, 1) 100%);
    }
}
.all-services-product-content {
    position: absolute;
    left: 30px;
    right: 30px;
    bottom: 25px;
}
.all-services-product-category {
    margin-bottom: 7px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 900;
    text-transform: uppercase;
    a {
        color: $w;
        &:hover {
            color: $t;
        }
    }
}
.all-services-product-title {
    max-height: 120px;
    overflow: hidden;
    padding-right: 40px;
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    letter-spacing: -0.3px;
    a {
        display: block;
        color: $w;
        &:hover {
            color: $t;
        }
    }
}
.all-services-product-x2 {
    .all-services-product-content {
        bottom: 30px;
    }
    .all-services-product-category {
        margin-bottom: 12px;
    }
    .all-services-product-title {
        font-size: 32px;
        line-height: 36px;
        max-height: 180px;
    }
}
.all-services-product-tablet-x2 {}
.advices-popular {
    padding-top: 0 !important;
    margin-bottom: 0 !important;
}
.advices-expert {
    height: 0;
    overflow: hidden;
    margin-bottom: 60px;
    position: relative;
    background: $blue;
    color: $w;
    padding: 33px 9.091% 12px;
}
.advices-expert-content {
    position: relative;
    z-index: 2;
}
.advices-expert-item {
    margin-bottom: 42px;
    text-align: right;
    blockquote {
        display: inline-block;
        vertical-align: top;
        position: relative;
        padding-right: 120px;
        p {
            font-size: 22px;
            line-height: 26px;
            font-weight: bold;
            letter-spacing: -0.2px;
            &:before {
                content: "“";
                display: inline-block;
                vertical-align: bottom;
                position: relative;
                top: 7px;
                margin-right: 7px;
                font-size: 65px;
                line-height: 22px;
                font-weight: bold;
                color: #3bd3c7;
            }
        }
        span {
            display: block;
            padding-top: 12px;
            opacity: 0.55;
            font-size: 20px;
            line-height: 24px;
            font-weight: 300;
            letter-spacing: 0.3px;
        }
        img {
            display: block;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate3d(0, -50%, 0);
            width: 86px;
            border-radius: 50%;
        }
    }
}
.advices-expert-title {
    font-size: 22px;
    line-height: 28px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    margin-bottom: 49px;
}
.advices-expert-bg {
    position: absolute;
    top: 40px;
    left: 25%;
    backface-visibility: hidden;
}
.advices-list {
    .home-advice {
        margin-bottom: 60px;
    }
    .home-advice-img {
        height: 0;
        padding-top: 100%;
        background-color: #e8e8e8;
    }
    .home-advice-category {
        font-weight: 900;
    }
    .home-advice-title a,
    .home-advice-number a {
        color: #040404;
        &:hover {
            color: $gray;
        }
    }
}
.advice-hero {
    padding: 86px 0;
    color: $w;
    background: $s;
    margin-bottom: 20px;
}
.advice-hero-img {
    max-width: 190px;
    margin: 0 auto;
}
.advice-hero-content {
    padding-right: 45px;
}
.advice-hero-info {
    padding-top: 13px;
    .home-advice-number {
        display: inline-block;
        vertical-align: top;
        padding-top: 0;
        margin-right: 48px;
        a {
            font-size: 22px;
            line-height: 1.3334;
            padding-left: 32px;
            .svg {
                width: 22px;
                margin-top: 4px;
            }
        }
    }
    .article-hero-date {
        display: inline-block;
        vertical-align: top;
    }
}
.advice-list {
    margin-bottom: 50px;
    padding: 44px 30px 21px 60px;
    background: $blue;
    position: relative;
    overflow: hidden;
}
.advice-list-content {
    position: relative;
    z-index: 2;
    ol {
        margin-top: 0;
        margin-bottom: 0;
        li {
            padding-left: 0;
            margin-bottom: 37px;
            font-size: 18px;
            line-height: 22px;
            font-weight: 900;
            color: #59ccc3;
            a {
                display: block;
                padding-left: 10px;
                padding-right: 35px;
                font-weight: bold;
                color: $w;
                letter-spacing: -0.2px;
            }
        }
    }
}
.advice-list-bg {
    position: absolute;
    right: 0;
    bottom: 0;
    backface-visibility: hidden;
    .svg {
        position: relative;
        right: -30%;
        margin-bottom: -30%;
    }
}
.advice-item {
    padding-left: 6.6667%;
    position: relative;
    padding-bottom: 10px;
}
.advice-item-number {
    position: absolute;
    left: -15px;
    top: 0;
    width: 45px;
    height: 45px;
    background: #e7e7e7;
    border-radius: 50%;
    span {
        position: absolute;
        left: 9px;
        right: 9px;
        bottom: -5px;
    }
    img {
        display: block;
        width: 100%;
        margin-top: 0;
        margin-bottom: 0;
    }
}
.advice-item-title {
    font-size: 30px;
    line-height: 34px;
    font-weight: bold;
    letter-spacing: -0.3px;
    margin-top: 24px;
    margin-bottom: 24px;
}
.advice-social {
    padding-left: 6.6667%;
}