@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&subset=cyrillic');
@font-face {
    font-family: 'unicredit_cy';
    src: url('../fonts/UniCreditCY.eot');
    src: url('../fonts/UniCreditCY.eot?#iefix') format('embedded-opentype'),
         url('../fonts/UniCreditCY.woff2') format('woff2'),
         url('../fonts/UniCreditCY.woff') format('woff'),
         url('../fonts/UniCreditCY.ttf') format('truetype'),
         url('../fonts/UniCreditCY.svg#UniCreditCY') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'unicredit_cy';
    src: url('../fonts/UniCreditCY-Light.eot');
    src: url('../fonts/UniCreditCY-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/UniCreditCY-Light.woff2') format('woff2'),
         url('../fonts/UniCreditCY-Light.woff') format('woff'),
         url('../fonts/UniCreditCY-Light.ttf') format('truetype'),
         url('../fonts/UniCreditCY-Light.svg#UniCreditCY-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'unicredit_cy';
    src: url('../fonts/UniCreditCY-Bold.eot');
    src: url('../fonts/UniCreditCY-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/UniCreditCY-Bold.woff2') format('woff2'),
         url('../fonts/UniCreditCY-Bold.woff') format('woff'),
         url('../fonts/UniCreditCY-Bold.ttf') format('truetype'),
         url('../fonts/UniCreditCY-Bold.svg#UniCreditCY-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'unicredit_cy';
    src: url('../fonts/UniCreditCY-Heavy.eot');
    src: url('../fonts/UniCreditCY-Heavy.eot?#iefix') format('embedded-opentype'),
         url('../fonts/UniCreditCY-Heavy.woff2') format('woff2'),
         url('../fonts/UniCreditCY-Heavy.woff') format('woff'),
         url('../fonts/UniCreditCY-Heavy.ttf') format('truetype'),
         url('../fonts/UniCreditCY-Heavy.svg#UniCreditCY-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
}