/* footer */
.footer-global {
    padding-top: 44px;
    background: $p;
    .footer-logo {
        margin-bottom: 0;
        a {
            max-width: 200px;
        }
    }
}
.footer-logo {
    padding-right: 10px;
    a {
        display: block;
        max-width: 292px;
        img {
            display: block;
            width: 100%;
        }
        &:hover {
            .footer-logo-title {
                color: $t;
            }
        }
    }
}
.footer-logo-title {
    display: block;
    padding-top: 15px;
    font-weight: 300;
    color: $w;
    letter-spacing: 2px;
    transition: color $d $f;
}
.footer-copyright {
    padding: 17px 10px 40px 0;
    p {
        font-weight: 300;
        color: $w;
        letter-spacing: 0.4px;
    }
}
.footer-menu {
    display: flex;
    flex-wrap: wrap;
    padding: 5px 0 10px;
    & > li {
        flex: 0 0 50%;
        max-width: 50%;
        padding-right: 10px;
        &.menu-disabled {
            & > a {
                color: rgba(59, 182, 172, 0.2);
                cursor: default;
                &:hover {
                    color: rgba(59, 182, 172, 0.2);
                }
            }
        }
        & > a {
            display: block;
            margin-bottom: 34px;
            font-size: 20px;
            line-height: 1.2;
            text-transform: uppercase;
            letter-spacing: 0.1px;
        }
        ul {
            display: block;
            li {
                margin-bottom: 17px;
                a {
                    display: block;
                    font-weight: 300;
                    color: $w;
                    letter-spacing: 0.25px;
                    &:hover {
                        color: $t;
                    }
                }
            }
        }
    }
}
.footer-social {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-top: 85px;
    margin-bottom: 90px;
    &:before {
        content: "";
        position: absolute;
        top: 2px;
        bottom: 8px;
        left: 0;
        width: 3px;
        background: rgba(255, 255, 255, 0.03);
    }
    li {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0 28.571%;
        a {
            display: inline-block;
            vertical-align: top;
            margin-bottom: 26px;
            padding-left: 55px;
            position: relative;
            font-weight: 300;
            color: $w;
            letter-spacing: 0.25px;
            &:hover {
                color: $t;
                .svg-fill {
                    fill: #68d6ce;
                }
            }
        }
    }
}
.footer-social-ico {
    display: block;
    position: absolute;
    left: 3px;
    top: 1px;
    width: 25px;
}
.footer-social-ico1 {
    width: 24px;
}
.footer-social-ico2 {
    width: 27px;
    left: 0;
    top: 3px;
    .svg {
        padding-top: 61.852%;
    }
}
.footer-social-ico3 {
    left: 2px;
    .svg {
        padding-top: 80%;
    }
}
.footer-social-ico4 {}
.footer-social-ico5 {
    top: 4px;
    .svg {
        padding-top: 68.76%;
    }
}
.social {
    float: right;
    padding: 53px 0 50px;
    li {
        float: left;
        margin: 0 24px 0 13px;
        a {
            display: flex;
            align-items: center;
            width: 29px;
            height: 24px;
            &:hover {
                .svg-fill {
                    fill: #68d6ce;
                }
            }
            & > span {
                display: block;
                margin: 0 auto;
            }
        }
    }
}
.social-facebook {
    width: 23px;
}
.social-vk {
    width: 27px;
    .svg {
        padding-top: 61.852%;
    }
}
.social-twitter {
    width: 25px;
    .svg {
        padding-top: 80%;
    }
}
.social-youtube {
    width: 25px;
    .svg {
        padding-top: 68.76%;
    }
}