/* responsive */
@include media-breakpoint-down(lg) {    //max-width: 1599px
    .header-global {
        padding-top: 38px;
        padding-bottom: 32px;
    }
    .logo {
        a {
            max-width: 230px;
        }
    }
    .logo-title {
        padding-left: 30px;
        font-size: 14px;
        letter-spacing: 1.5px;
    }
    .header-nav {
        padding-bottom: 10px;
    }
    .header-search {
        margin-top: 4px;
        margin-left: 27px;
    }
    .header-search-toggle,
    .header-search-button {
        width: 22px;
    }
    input.header-search-text {
        height: 46px;
        padding: 1px 65px 10px 0;
    }
    .header-search-button {
        top: 10px;
        right: 37px;
    }
    .header-search-close {
        top: 10px;
        width: 20px;
        height: 20px;
    }
    .header-menu {
        &:before {
            top: 4px;
            bottom: 4px;
            width: 1px;
        }
    }
    .menu {
        padding-bottom: 4px;
        li {
            margin: 0 37px 0 22px;
            font-size: 20px;
            line-height: 1.3;
            a {
                &.menu-toggle {
                    padding-left: 9px;
                    .svg {
                        width: 13px;
                    }
                }
            }
        }
    }
    .header-submenu-panel {
        padding: 28px 0 5px;
    }
    .header-submenu {
        li {
            margin-bottom: 21px;
            a {
                padding-right: 34px;
                font-size: 14px;
                line-height: 16px;
            }
        }
    }
    a.submenu-business {
        &:before {
            left: -31px;
            width: 19px;
            height: 18px;
            background-size: 19px 18px;
        }
    }
    .arrow {
        margin-right: -29px;
        width: 23px;
        height: 9px;
    }
    .arrow-line {
        height: 9px;
        &:after {
            top: 4px;
            width: 22px;
        }
    }
    .arrow-top,
    .arrow-bottom {
        width: 8px;
        height: 8px;
    }
    .arrow-bold {
        margin-right: -33px;
        width: 27px;
        height: 12px;
        .arrow-line {
            height: 12px;
            &:after {
                top: 5px;
                width: 26px;
            }
        }
        .arrow-top,
        .arrow-bottom {
            width: 9px;
            height: 9px;
        }
    }
    .home-slider {
        margin-bottom: 50px;
    }
    .home-slide-content {
        padding-top: 39px;
        padding-bottom: 40px;
    }
    .home-slide-category {
        margin-bottom: 38px;
        font-size: 18px;
        letter-spacing: 0.5px;
        &:before {
            width: 25px;
            height: 4px;
        }
    }
    .home-slide-title {
        margin-right: -33px;
        padding-right: 33px;
        margin-bottom: 34px;
        font-size: 41px;
        line-height: 1.0488;
        letter-spacing: -0.3px;
        max-height: 172px;
    }
    .home-slide-text {
        font-size: 20px;
        line-height: 1.3;
        letter-spacing: -0.2px;
        max-height: 130px;
    }
    .slick-dots {
        bottom: 50px;
    }
    .slick-dots li button {
        width: 42px;
        height: 50px;
        &:after {
            width: 7px;
            height: 7px;
        }
        &:before {
            width: 14px;
            height: 14px;
            border-width: 2px;
        }
    }
    .home-popular {
        margin-bottom: 50px;
        padding-top: 40px;
        padding-bottom: 28px;
    }
    .home-popular-category {
        margin-bottom: 30px;
        h2 {
            font-size: 32px;
        }
    }
    .home-popular-item {
        margin-bottom: 40px;
    }
    .home-popular-item-img {
        padding-right: 25px;
    }
    .home-popular-item-category {
        font-size: 14px;
        margin-bottom: 13px;
    }
    .home-popular-item-title {
        margin-right: -29px;
        padding-right: 29px;
        font-size: 18px;
        line-height: 1.2223;
        max-height: 110px;
    }
    .home-articles-title {
        h3 {
            margin-top: -4px;
            margin-bottom: 36px;
            font-size: 16px;
            &:before {
                width: 27px;
                height: 4px;
                margin-top: 0;
            }
        }
    }
    .home-article {
        margin-bottom: 50px;
        height: 350px;
    }
    .home-article-img {
        height: 200px;
    }
    .home-article-content {
        height: 150px;
        padding-top: 20px;
        border-bottom-width: 8px;
    }
    .home-article-category {
        font-size: 14px;
        margin-bottom: 11px;
    }
    .home-article-title {
        font-size: 20px;
        line-height: 1.2;
        padding-right: 33px;
        max-height: 72px;
    }
    .home-article-important {
        .home-article-content {
            padding-left: 30px;
        }
        .home-article-category {
            padding-right: 30px;
        }
        .home-article-title {
            padding-right: 43px;
        }
    }
    .home-article-product-img {
        height: 350px;
    }
    .home-article-product-content {
        bottom: 48px;
    }
    .home-article-product-category {
        padding: 0 30px 16px;
        font-size: 14px;
        a {
            padding: 3px 14px 4px;
        }
    }
    .home-article-product-title {
        padding: 0 43px 0 30px;
        font-size: 20px;
        line-height: 1.2;
        max-height: 72px;
    }
    .home-article-x2 {
        .home-article-product-content {
            bottom: 39px;
        }
        .home-article-product-title {
            font-size: 30px;
            line-height: 1.1334;
            max-height: 102px;
        }
        .home-article-category {
            padding-left: 30px;
            padding-right: 30px;
            margin-bottom: 20px;
        }
    }
    .home-articles-other {
        padding-top: 55px;
        margin-bottom: 10px;
    }
    .home-expert {
        margin-bottom: 50px;
        padding-top: 41px;
        padding-bottom: 65px;
    }
    .home-expert-category {
        font-size: 16px;
        margin-bottom: 36px;
    }
    .home-expert-img {
        padding-bottom: 31px;
    }
    .home-expert-name {
        font-size: 18px;
        margin-bottom: 14px;
    }
    .home-expert-title {
        font-size: 24px;
    }
    .home-tags {
        margin-bottom: 50px;
        h4 {
            font-size: 16px;
            margin-bottom: 30px;
        }
    }
    .home-tags-list {
        li {
            a {
                padding: 0 9px 5px;
                font-size: 20px;
                line-height: 1.2;
            }
        }
    }
    .home-advices {
        padding: 40px 0 50px;
    }
    .home-advices-category {
        h3 {
            margin-bottom: 30px;
            font-size: 16px;
            &:before {
                width: 27px;
                height: 4px;
                margin-top: 0;
            }
        }
    }
    .home-advices-slider {
        height: 474px;
    }
    .services-partners-slider {
        height: 371px;
    }
    .slidee {
        li {
            margin-right: 50px;
            width: 250px;
        }
    }
    .scrollbar {
        height: 8px;
    }
    .home-advice-img {
        height: 250px;
        margin-bottom: 36px;
    }
    .home-advice-ico1 {
        .svg {
            width: 92px;
        }
    }
    .home-advice-ico2 {
        .svg {
            width: 75px;
        }
    }
    .home-advice-ico3 {
        .svg {
            width: 83px;
        }
    }
    .home-advice-category {
        font-size: 14px;
        margin-bottom: 11px;
    }
    .home-advice-title {
        font-size: 20px;
        line-height: 1.2;
        max-height: 96px;
        padding-right: 33px;
    }
    .home-advice-number {
        a {
            padding-left: 25px;
            font-size: 16px;
            .svg {
                width: 15px;
                margin-top: 3px;
            }
        }
    }
    .footer-global {
        padding-top: 55px;
    }
    .footer-logo {
        a {
            max-width: 228px;
        }
    }
    .footer-logo-title {
        padding-top: 12px;
        font-size: 14px;
        letter-spacing: 1.5px;
    }
    .footer-menu {
        padding-top: 6px;
        padding-bottom: 50px;
        & > li {
            padding-bottom: 1px;
            & > a {
                margin-bottom: 38px;
                font-size: 16px;
            }
            ul {
                li {
                    margin-bottom: 14px;
                    a {
                        font-size: 14px;
                    }
                }
            }
        }
    }
    .footer-social {
        margin-top: 67px;
        margin-bottom: 49px;
        &:before {
            top: 0;
            bottom: 7px;
            width: 2px;
        }
        li {
            a {
                margin-bottom: 21px;
                padding-left: 43px;
                font-size: 14px;
            }
        }
    }
    .footer-social-ico {
        left: 1px;
        top: 0;
        width: 20px;
    }
    .footer-social-ico1 {
        left: 2px;
        width: 19px;
    }
    .footer-social-ico2 {
        left: 0;
        top: 1px;
        width: 21px;
    }
    .footer-social-ico3 {
        left: 1px;
    }
    .footer-copyright {
        padding-top: 30px;
        padding-bottom: 27px;
        p {
            font-size: 14px;
            letter-spacing: 0.3px;
        }
    }
    .footer-copyright-sep {
        padding: 0 7px;
    }
    .services-hero-content {
        h5 {
            margin-bottom: 35px;
            font-size: 18px;
            letter-spacing: 0.5px;
            &:before {
                width: 25px;
                height: 4px;
            }
        }
        h1 {
            font-size: 53px;
            margin-bottom: 40px;
            letter-spacing: -0.3px;
        }
        p {
            font-size: 24px;
            line-height: 1.1667;
        }
    }
    .services-package-basic-title-info {
        padding-right: 33px;
    }
    .services-partners-item-title {
        padding: 0 33px;
    }
    .package-advantages {
        h5 {
            margin-bottom: 35px;
            font-size: 18px;
            letter-spacing: 0.5px;
            &:before {
                width: 25px;
                height: 4px;
            }
        }
    }
    .packages-other-item-title {
        padding-left: 33px;
        padding-right: 33px;
    }
    .article-hero-category {
        font-size: 18px;
        line-height: 22px;
    }
    .article-hero-title {
        h1 {
            font-size: 42px;
            line-height: 48px;
        }
    }
    .article-hero-date {
        font-size: 20px;
    }
    .article-popular-item-title {
        padding-right: 29px;
    }
}
@media (max-width: 1424px) {
    .home-slide-category {
        margin-bottom: 33px;
        font-size: 16px;
    }
    .home-slide-title {
        margin-bottom: 28px;
        font-size: 36px;
        line-height: 1.0556;
        max-height: 152px;
    }
    .home-slide-text {
        font-size: 18px;
        line-height: 1.3334;
        max-height: 120px;
    }
    .services-hero-content {
        h5 {
            margin-bottom: 30px;
            font-size: 16px;
        }
        h1 {
            font-size: 48px;
            line-height: 1.042;
            margin-bottom: 35px;
        }
        p {
            font-size: 22px;
            line-height: 1.182;
        }
    }
    .package-advantages {
        h5 {
            margin-bottom: 30px;
            font-size: 16px;
        }
    }
    .article-hero-category {
        font-size: 16px;
        line-height: 20px;
    }
    .article-hero-title {
        h1 {
            font-size: 40px;
            line-height: 46px;
        }
    }
    .article-hero-date {
        font-size: 18px;
    }
}
@include media-breakpoint-down(md) {    //max-width: 1249px
    .container {
        padding-left: 45px;
        padding-right: 45px;
    }
    .header-global {
        padding-top: 34px;
        padding-bottom: 30px;
    }
    .logo {
        a {
            max-width: 207px;
        }
    }
    .logo-title {
        padding-top: 0;
        padding-left: 28px;
        font-size: 13px;
    }
    .header-submenu-panel {
        display: none !important;
    }
    .navigation-toggle {
        display: block;
    }
    .navigation-open {
        overflow: hidden;
        body {
            height: 100%;
            overflow: hidden;
        }
        .navigation {
            display: block;
            -webkit-overflow-scrolling: touch;
            overflow-scrolling: touch;
        }
    }
    .home-slide-content {
        padding: 40px 45px 124px;
    }
    .home-slide-category {
        margin-bottom: 22px;
        font-size: 14px;
        padding-left: 45px;
        letter-spacing: 0.8px;
        &:before {
            width: 23px;
            margin-top: 0;
        }
    }
    .home-slide-title {
        margin-right: 0;
        margin-bottom: 29px;
        font-size: 32px;
        line-height: 1.0625;
        letter-spacing: -0.1px;
        max-height: 136px;
    }
    .home-slide-text {
        font-size: 16px;
        line-height: 1.375;
        letter-spacing: -0.1px;
        max-height: 110px;
    }
    .slick-dots {
        bottom: 45px;
        right: auto;
        left: 45px;
        min-width: 0;
        padding-left: 5px;
        padding-right: 5px;
    }
    .slick-dots li button {
        height: 45px;
    }
    .home-popular {
        margin-bottom: 45px;
        padding: 36px 45px 28px;
    }
    .home-popular-category {
        margin-bottom: 26px;
        h2 {
            font-size: 29px;
        }
    }
    .home-popular-item {
        margin-bottom: 35px;
    }
    .home-popular-item-img {
        flex: 0 0 95px;
        max-width: 95px;
    }
    .home-popular-item-content {
        flex: 1 1 auto;
        max-width: none;
    }
    .home-popular-item-category {
        font-size: 13px;
        margin-bottom: 11px;
        letter-spacing: 0.1px;
    }
    .home-popular-item-title {
        font-size: 16px;
        line-height: 1.25;
        max-height: 100px;
    }
    .home-articles-title {
        h3 {
            margin-top: -3px;
            margin-bottom: 33px;
            font-size: 14px;
            padding-left: 45px;
            &:before {
                width: 23px;
            }
        }
    }
    .home-articles-latest {
        padding-left: 45px;
    }
    .home-articles-latest-wrapper {
        margin-right: -45px;
    }
    .home-article {
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 45px;
        margin-bottom: 45px;
        height: auto;
    }
    .home-article-img {
        height: 0;
        padding-top: 56.98%;
    }
    .home-article-content {
        height: auto;
        min-height: 135px;
        padding-top: 18px;
        border-bottom-width: 7px;
    }
    .home-article-category {
        font-size: 13px;
        margin-bottom: 9px;
    }
    .home-article-title {
        font-size: 18px;
        line-height: 1.2223;
        max-height: none;
        padding-bottom: 18px;
    }
    .home-article-product-img {
        height: 0;
        padding-top: 100%;
    }
    .home-article-product-content {
        right: 45px;
        bottom: 43px;
    }
    .home-article-product-category {
        font-size: 13px;
        padding-bottom: 14px;
        a {
            padding: 3px 12px;
        }
    }
    .home-article-product-title {
        font-size: 18px;
        line-height: 1.2223;
        max-height: 66px;
    }
    .home-article-x2 {
        .home-article-product-img {
            padding-top: 46.77%;
        }
        .home-article-product-content {
            right: 45px;
            bottom: 36px;
        }
        .home-article-product-title {
            font-size: 27px;
            line-height: 1.1482;
            max-height: 93px;
        }
        .home-article-category {
            margin-bottom: 15px;
        }
    }
    .home-articles-other {
        padding-top: 50px;
        margin-bottom: 5px;
        .home-article {
            flex: 0 0 50%;
            max-width: 50%;
        }
        .home-article-x2 {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
    .home-expert-wrapper {
        display: flex;
        margin-right: -45px;
        padding-top: 10px;
    }
    .home-expert-block {
        flex: 0 0 50%;
        max-width: 50%;
        padding-right: 45px;
    }
    .home-expert {
        margin-bottom: 45px;
        padding: 37px 45px 59px;
    }
    .home-expert-category {
        font-size: 14px;
        margin-bottom: 33px;
    }
    .home-expert-img {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 25px;
    }
    .home-expert-name {
        font-size: 16px;
        margin-bottom: 12px;
    }
    .home-expert-title {
        font-size: 22px;
        line-height: 1.3182;
    }
    .home-tags {
        flex: 0 0 50%;
        max-width: 50%;
        padding-right: 45px;
        margin-bottom: 45px;
        h4 {
            font-size: 14px;
            margin-top: -5px;
            margin-bottom: 29px;
        }
    }
    .home-tags-list {
        li {
            margin: 0 4px 4px 0;
            a {
                padding: 0 7px 5px;
                font-size: 18px;
                line-height: 1.2223;
            }
        }
    }
    .home-advices {
        padding: 37px 0 45px;
    }
    .home-advices-category {
        h3 {
            margin-bottom: 27px;
            font-size: 14px;
            padding-left: 45px;
            &:before {
                width: 23px;
            }
        }
    }
    .home-advices-slider {
        height: 427px;
    }
    .slidee {
        li {
            margin-right: 45px;
            width: 225px;
        }
    }
    .scrollbar {
        height: 7px;
    }
    .home-advice-img {
        height: 225px;
        margin-bottom: 33px;
    }
    .home-advice-ico1 {
        .svg {
            width: 83px;
        }
    }
    .home-advice-ico2 {
        .svg {
            width: 68px;
        }
    }
    .home-advice-ico3 {
        .svg {
            width: 75px;
        }
    }
    .home-advice-category {
        font-size: 13px;
        margin-bottom: 8px;
    }
    .home-advice-title {
        font-size: 18px;
        line-height: 1.2223;
        max-height: 88px;
    }
    .home-advice-number {
        a {
            font-size: 15px;
        }
    }
    .footer-global {
        padding-top: 50px;
    }
    .footer-logo {
        padding-right: 0;
        margin-bottom: 36px;
        a {
            max-width: 206px;
        }
    }
    .footer-logo-title {
        padding-top: 9px;
        font-size: 13px;
    }
    .footer-menu {
        padding-bottom: 30px;
        & > li {
            padding-bottom: 5px;
            & > a {
                margin-bottom: 33px;
                font-size: 14px;
            }
            ul {
                li {
                    margin-bottom: 12px;
                    a {
                        font-size: 13px;
                    }
                }
            }
        }
    }
    .footer-social {
        margin-top: 58px;
        margin-bottom: 40px;
        &:before {
            top: 5px;
            bottom: 10px;
        }
        li {
            padding: 0 0 0 35%;
            a {
                margin-bottom: 18px;
                padding-left: 41px;
                font-size: 13px;
                line-height: 17px;
            }
        }
    }
    .footer-social-ico {
        width: 18px;
        top: 2px;
    }
    .footer-social-ico1 {
        width: 17px;
    }
    .footer-social-ico2 {
        width: 19px;
        top: 3px;
    }
    .footer-copyright {
        padding-bottom: 30px;
        p {
            font-size: 13px;
        }
    }
    .services-hero {
        padding: 35px 0 62%;
        background-position: 0 100%;
        background-size: 161.73% auto;
    }
    .services-hero-content {
        h5 {
            margin-bottom: 25px;
            padding-left: 45px;
            font-size: 14px;
            letter-spacing: 0.8px;
            &:before {
                width: 23px;
                margin-top: 0;
            }
        }
        h1 {
            font-size: 46px;
            line-height: 1.0435;
            letter-spacing: -0.5px;
            margin-bottom: 24px;
        }
        p {
            max-width: 60%;
            font-size: 18px;
            line-height: 1.2778;
        }
    }
    .services-features {
        margin-top: -133px;
        margin-bottom: 51px;
    }
    .services-features-free {
        padding: 41px 45px 28px;
    }
    .services-features-free-title {
        font-size: 22px;
        letter-spacing: -0.4px;
        margin-bottom: 31px;
    }
    .services-features-free-list {
        margin-right: -45px;
        li {
            padding: 0 45px;
            margin-bottom: 11px;
            font-size: 14px;
            line-height: 1.286;
            letter-spacing: 1px;
            &:before {
                width: 32px;
                height: 30px;
                background-size: 32px 30px;
            }
            span {
                min-height: 54px;
                padding-right: 10px;
            }
        }
    }
    .services-features-cta {
        padding: 45px 45px 50px;
        h4 {
            font-size: 29px;
            letter-spacing: -0.4px;
            margin-bottom: 13px;
        }
        p {
            font-size: 16px;
            line-height: 1.125;
            margin-bottom: 43px;
        }
    }
    .services-features-cta-bg {
        display: none;
    }
    a.button,
    input.button,
    button.button {
        padding: 13px 35px 15px;
        font-size: 16px;
        letter-spacing: 0.5px;
        &.button-bordered {
            padding: 11px 33px 13px;
        }
    }
    .services-registration {
        margin-bottom: 40px;
    }
    .services-registration-caption {
        margin-bottom: 51px;
        h2 {
            font-size: 43px;
            line-height: 1.047;
            letter-spacing: -0.3px;
            margin-bottom: 29px;
        }
        p {
            font-size: 20px;
            line-height: 1.35;
            letter-spacing: -0.2px;
            margin-bottom: 25px;
        }
    }
    .services-registration-caption-link {
        font-size: 27px;
    }
    .services-registration-steps {
        padding-top: 0;
        li {
            flex: 0 0 100%;
            max-width: 100%;
            padding-right: 45px;
            margin-bottom: 36px;
        }
    }
    .services-registration-step-number {
        flex: 0 0 70px;
        max-width: 70px;
        padding-right: 27px;
        padding-top: 5px;
    }
    .services-registration-step-img {
        height: 43px;
    }
    .services-registration-step-title {
        font-size: 16px;
        line-height: 1.25;
    }
    .services-registration-img {
        margin-top: 5px;
    }
    .services-packages {
        margin-bottom: 42px;
        h2 {
            font-size: 43px;
            line-height: 1.047;
            letter-spacing: -0.3px;
            margin-bottom: 38px;
        }
    }
    .services-package-basic {
        margin-bottom: 60px;
        padding-top: 33px;
        padding-bottom: 15px;
    }
    .services-package-basic-caption {
        padding: 0 45px;
        margin-bottom: 38px;
    }
    .services-package-basic-caption-text {
        padding-right: 35px;
        font-size: 16px;
    }
    .services-package-basic-caption-note {
        font-size: 16px;
        line-height: 18px;
        span {
            margin-top: 2px;
            margin-right: 9px;
            padding: 3px;
            width: 17px;
            height: 17px;
        }
    }
    .services-package-basic-title {
        padding: 0 45px;
    }
    .services-package-basic-title-link {
        margin-bottom: 66px;
    }
    .services-package-basic-title-img {
        flex: 0 0 63px;
        max-width: 63px;
        padding-right: 18px;
    }
    .services-package-basic-title-ico {
        height: 45px;
        img {
            width: 29px;
        }
    }
    .services-package-basic-title-info {
        font-size: 22px;
    }
    .services-package-basic-title-text {
        font-size: 16px;
        letter-spacing: -0.2px;
    }
    .services-package-basic-more {
        margin-bottom: 35px;
        .button {
            min-width: 207px;
        }
    }
    .services-package-basic-advantages {
        padding: 0 45px;
        li {
            flex: 0 0 100%;
            max-width: 100%;
            padding: 0 0 35px 18px;
            font-size: 16px;
            line-height: 1.375;
            &:before {
                top: 9px;
                width: 5px;
                height: 5px;
            }
        }
    }
    .services-package {
        text-align: left;
        padding-bottom: 40px;
        margin-bottom: 40px;
        border-bottom: 2px solid #e8e8e8;
    }
    .services-package-caption {
        display: flex;
    }
    .services-package-img {
        flex: 0 0 20%;
        max-width: 20%;
        span {
            margin: 0;
            width: 88px;
            height: 88px;
        }
        img {
            width: 49px;
        }
    }
    .services-package-img-2 {
        img {
            width: 44px;
        }
    }
    .services-package-title {
        flex: 0 0 40%;
        max-width: 40%;
        padding-right: 45px;
    }
    .services-package-title-link {
        font-size: 28px;
        margin-top: -5px;
        margin-bottom: 15px;
    }
    .services-package-title-info {
        font-size: 16px;
        line-height: 1.25;
        padding: 0;
        min-height: 0;
    }
    .services-package-include {
        flex: 0 0 40%;
        max-width: 40%;
        padding: 39px 45px 33px 0;
        border-top: 0;
        border-bottom: 0;
    }
    .services-package-include-img {
        span {
            width: 44px;
            height: 44px;
        }
        img {
            width: 24px;
        }
    }
    .services-package-include-title {
        font-size: 16px;
        line-height: 1.25;
        padding-top: 1px;
    }
    .services-package-options {
        padding-left: 20%;
    }
    .services-package-options-list {
        display: flex;
        flex-wrap: wrap;
        padding-top: 3px;
        padding-bottom: 10px;
        li {
            flex: 0 0 50%;
            max-width: 50%;
            font-size: 16px;
            line-height: 1.25;
            padding: 0 45px 31px 18px;
            &:before {
                top: 9px;
                left: 0;
                transform: translate3d(0, 0, 0);
                width: 5px;
                height: 5px;
                background: #d5d7de;
                border-radius: 50%;
            }
            &:nth-child(2) {
                &:before {
                    display: block;
                }
            }
            span {
                font-size: 14px;
                line-height: 1.143;
            }
        }
    }
    .services-package-more {
        opacity: 1;
        .button {
            min-width: 207px;
        }
    }
    .services-packages-compare {
        padding-top: 0;
        text-align: left;
    }
    .services-packages-compare-link {
        font-size: 16px;
        line-height: 1.25;
    }
    .services-packages-compare-ico {
        margin-top: 3px;
        width: 27px;
    }
    .services-partners {
        padding-bottom: 52px;
        margin-bottom: 50px;
    }
    .services-partners-title {
        h4 {
            font-size: 29px;
        }
    }
    .services-partners-slider {
        height: 335px;
    }
    .services-partners-item {
        height: 335px;
        padding-top: 51px;
    }
    .services-partners-item-img {
        margin-bottom: 24px;
        img {
            max-width: 123px;
        }
    }
    .services-partners-item-title {
        font-size: 16px;
        line-height: 1.25;
        height: 40px;
    }
    .services-partners-item-offer {
        font-size: 32px;
        margin-bottom: 9px;
        margin-top: -1px;
    }
    .services-partners-item-offer-note {
        font-size: 16px;
        line-height: 1.25;
    }
    .services-account {
        padding-bottom: 0;
        h3 {
            font-size: 43px;
            line-height: 1.047;
            letter-spacing: -0.3px;
            margin-bottom: 47px;
        }
    }
    .services-account-steps {
        margin-right: 0;
        margin-bottom: 18px;
    }
    .services-account-step {
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 0;
        padding-bottom: 62px;
    }
    .services-account-step-number {
        flex: 0 0 80px;
        max-width: 80px;
    }
    .services-account-step-img {
        height: 60px;
        span {
            bottom: -14px;
            width: 36px;
        }
    }
    .services-account-step-title {
        padding-top: 8px;
        font-size: 18px;
        line-height: 1.2223;
    }
    .services-account-documents {
        flex-wrap: wrap;
        padding: 4px 45px 0;
        position: relative;
        &:before {
            content: "";
            position: absolute;
            top: -3px;
            bottom: 36px;
            left: 0;
            width: 1px;
            background: #d8d8d8;
        }
    }
    .services-account-documents-title {
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 0;
        &:before {
            display: none;
        }
        h4 {
            padding-right: 0;
            font-size: 22px;
            margin-bottom: 28px;
        }
    }
    .services-account-documents-list-wrapper {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .services-account-documents-list {
        flex-wrap: wrap;
        li {
            flex: 0 0 100%;
            max-width: 100%;
            padding: 0 0 48px;
            &:before {
                display: none;
            }
            a {
                font-size: 16px;
                line-height: 1.4375;
            }
        }
    }
    .services-order-bg {
        max-height: 65%;
        max-width: 50%;
    }
    .services-order-content {
        padding-top: 50px;
    }
    .services-order-title {
        margin-bottom: 38px;
        h3 {
            margin-right: 20px;
            font-size: 43px;
            line-height: 1.047;
        }
    }
    .services-order-title-info {
        font-size: 20px;
        padding-top: 18px;
    }
    .services-order-step {
        h5 {
            font-size: 20px;
            margin-bottom: 17px;
        }
        .button,
        .button.button-bordered {
            padding-left: 20px;
            padding-right: 20px;
            min-width: 240px;
        }
    }
    .button-arrow,
    .button-arrow-left {
        padding-right: 30px;
        background-size: 8px 14px;
    }
    .button-arrow-left {
        padding-right: 0;
        padding-left: 30px;
    }
    .services-order-step-input,
    .services-order-step-city {
        margin-bottom: 36px;
        &:before {
            left: -22px;
            width: 15px;
            height: 15px;
            background-size: 15px 15px;
        }
    }
    input.input-text,
    .services-order-step-city-toggle {
        height: 48px;
        padding-top: 9px;
        padding-bottom: 13px;
        font-size: 16px;
    }
    .services-order-step-city-toggle-arrow {
        top: 22px;
    }
    .services-order-step-city-panel {
        left: -22px;
        right: -22px;
        padding-right: 22px;
        padding-left: 25px;
        padding-top: 74px;
    }
    .services-order-step-city-list {
        li {
            a {
                font-size: 16px;
            }
        }
    }
    .services-order-step-confirm {
        padding-top: 16px;
    }
    .services-order-step-error {
        padding-top: 10px;
    }
    .services-order-step-1-next,
    .services-order-step-buttons {
        padding-top: 28px;
    }
    .modal {
        &-full {
            width: 737px;
        }
    }
    .modal-compare {
        padding-left: 0;
        padding-right: 0;
        padding-top: 24px;
        padding-bottom: 38px;
        overflow: hidden;
        .close {
            top: 52px;
        }
        .modal-title {
            text-align: left;
            padding-left: 30px;
            padding-right: 50px;
            max-width: 500px;
            margin-bottom: 35px;
        }
    }
    .compare-table {
        thead {
            tr {
                th {
                    width: 90px;
                    &:first-child {
                        padding-left: 30px;
                        width: auto;
                    }
                    &:last-child {
                        width: 150px;
                        padding-right: 30px;
                    }
                }
            }
        }
        tbody {
            tr {
                td {
                    &:first-child {
                        padding-left: 30px;
                    }
                    &:last-child {
                        padding-right: 30px;
                    }
                }
            }
        }
    }
    .package {
        margin-bottom: 0;
    }
    .package-info {
        padding-top: 34px;
        padding-bottom: 46px;
        &:after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 100%;
            width: 9000px;
            background: #ececec;
        }
    }
    .package-info-all {
        margin-bottom: 0;
        a {
            font-size: 16px;
            padding-left: 35px;
            .svg {
                top: 2px;
            }
        }
    }
    .package-info-caption {
        padding-top: 52px;
    }
    .package-info-title {
        margin-bottom: 24px;
    }
    .package-info-title-img {
        flex: 0 0 114px;
        max-width: 114px;
        padding-right: 32px;
    }
    .package-info-title-text {
        padding-top: 4px;
        h1 {
            font-size: 40px;
            span {
                font-size: 14px;
                padding-left: 2px;
                padding-bottom: 5px;
            }
        }
    }
    .package-info-prices {
        padding-right: 0;
        margin-bottom: 0;
        flex-wrap: wrap;
        margin-top: -14px;
    }
    .package-info-prices-category,
    .package-info-prices-category-other {
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 0;
        margin-bottom: 33px;
        p {
            font-size: 13px;
            line-height: 18px;
            font-weight: normal;
        }
    }
    .package-info-prices-category-other {
        padding-left: 0;
        padding-top: 37px;
        margin-bottom: 0;
        &:before {
            top: 0;
            right: 0;
            bottom: auto;
            width: auto;
            height: 5px;
        }
    }
    .package-info-prices-number {
        font-size: 17px;
        line-height: 31px;
        margin-bottom: 9px;
        strong {
            font-size: 29px;
        }
    }
    .package-advantages {
        padding: 50px 0 52px;
        h5 {
            margin-bottom: 26px;
            padding-left: 45px;
            font-size: 14px;
            letter-spacing: 0.4px;
            &:before {
                width: 23px;
                margin-top: 0;
            }
        }
    }
    .package-advantages-list {
        margin-right: -6.6667%;
        padding: 0;
    }
    .package-advantages-item {
        flex: 0 0 25%;
        max-width: 25%;
        padding-right: 6.25%;
        margin-bottom: 21px;
    }
    .package-advantages-item-img {
        height: 75px;
        margin-bottom: 16px;
        img {
            width: 87px;
        }
    }
    .package-advantages-item-img-2 {
        img {
            width: 82px;
        }
    }
    .package-advantages-item-title {
        font-size: 14px;
        line-height: 18px;
        min-height: 0;
    }
    .package-include {
        margin-bottom: 60px;
        padding-top: 57px;
        padding-bottom: 71px;
        h2 {
            font-size: 40px;
            margin-bottom: 52px;
        }
    }
    .package-include-list {
        li {
            padding-left: 50px;
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 37px;
            &:before {
                width: 32px;
                height: 28px;
                background-size: 32px 28px;
            }
            strong {
                font-size: 20px;
                line-height: 22px;
                margin-bottom: 8px;
            }
        }
    }
    .package-include-list-second {
        display: none;
    }
    .package-include-show {
        text-align: left;
        padding-top: 19px;
    }
    .package-include-show-button {
        font-size: 16px;
        padding-left: 36px;
        padding-top: 3px;
        .svg {
            width: 19px;
        }
    }
    .packages-other {
        padding-top: 55px;
        h4 {
            font-size: 28px;
            margin-bottom: 38px;
        }
    }
    .packages-other-item {
        min-width: 297px;
        padding-left: 45px;
        &:first-child {
            padding-left: 0;
            min-width: 252px;
        }
    }
    .packages-other-item-img {
        margin-bottom: 25px;
        span {
            width: 88px;
            height: 88px;
        }
        img {
            width: 44px;
        }
    }
    .packages-other-item-img-2 {
        img {
            width: 49px;
        }
    }
    .packages-other-item-title {
        font-size: 20px;
        padding-bottom: 10px;
    }
    .packages-other-item-text {
        font-size: 16px;
        line-height: 20px;
    }
    .article-hero {
        margin-bottom: 32px;
    }
    .article-hero-content {
        left: 45px;
        right: 45px;
        bottom: 52px;
    }
    .article-hero-category {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 22px;
        letter-spacing: 0.4px;
    }
    .article-hero-title {
        h1 {
            font-size: 36px;
            line-height: 42px;
            margin-bottom: 28px;
        }
    }
    .article-hero-date {
        font-size: 16px;
        padding-left: 27px;
        &:before {
            margin-top: 1px;
            width: 18px;
            height: 18px;
            background-size: 18px 18px;
        }
    }
    .article-hero-info {
        padding-bottom: 10px;
        border-bottom-width: 7px;
        p {
            font-size: 20px;
            line-height: 24px;
            letter-spacing: -0.2px;
            margin-bottom: 24px;
        }
    }
    .article {
        padding: 9px 0 40px;
    }
    .article-popular {
        h4 {
            margin-top: 24px;
            margin-bottom: 18px;
            padding-bottom: 22px;
            border-bottom-width: 1px;
        }
    }
    .article-popular-item {
        padding-bottom: 21px;
        border-bottom-width: 1px;
    }
    .article-popular-item-category {
        font-size: 13px;
        margin-bottom: 8px;
    }
    .article-popular-item-title {
        font-size: 14px;
        line-height: 18px;
    }
    .article-product-block {
        .home-article {
            margin-bottom: 15px;
        }
    }
    .article-expert {
        padding-right: 109px;
    }
    .article-social {
        padding-top: 1px;
        h4 {
            margin-top: 15px;
        }
    }
    .article-social-list {
        a {
            margin-right: 23px;
        }
        span {
            width: 39px;
            height: 39px;
        }
        img {
            margin-top: 0;
        }
    }
    .article-social-ico1 {
        img {
            width: 20px;
        }
    }
    .article-social-ico2 {
        img {
            width: 24px;
        }
    }
    .article-social-ico3 {
        img {
            width: 22px;
        }
    }
    .article-social-ico4 {
        img {
            width: 23px;
        }
    }
    .wysiwyg {
        font-size: 16px;
        line-height: 22px;
        h2 {
            font-size: 28px;
            line-height: 32px;
        }
        h4 {
            font-size: 14px;
            line-height: 18px;
        }
        figure {
            padding-top: 18px;
            img {
                margin-bottom: 15px;
            }
        }
        figcaption {
            font-size: 14px;
            line-height: 18px;
            letter-spacing: 0;
        }
        blockquote {
            border-top-width: 7px;
            border-bottom-width: 7px;
            padding: 39px 45px 46px 90px;
            margin-bottom: 37px;
            &:before {
                top: 21px;
                font-size: 99px;
            }
            p {
                font-size: 20px;
                line-height: 25px;
            }
            span {
                padding-top: 26px;
                font-size: 14px;
                line-height: 18px;
            }
            img {
                top: 39px;
                width: 104px;
            }
        }
    }
}
@include media-breakpoint-down(sm) {    //max-width: 767px
    .container {
        padding-left: 25px;
        padding-right: 25px;
    }
    .header-global {
        padding-top: 21px;
        padding-bottom: 16px;
    }
    .navigation-toggle {
        top: -8px;
    }
    .home-slider {
        margin-bottom: 30px;
        margin-left: -25px;
        margin-right: -25px;
    }
    .home-slide-content {
        padding: 21px 25px 104px;
    }
    .home-slide-category {
        display: none;
    }
    .home-slide-title {
        font-size: 24px;
        line-height: 28px;
        max-height: 112px;
        margin-bottom: 13px;
    }
    .slick-dots {
        bottom: 30px;
        left: 25px;
    }
    .home-popular {
        margin: 0 -25px 25px;
        padding: 27px 25px 20px;
    }
    .home-popular-item-content {
        padding-right: 14px;
    }
    .home-popular-item-title {
        letter-spacing: 0;
    }
    .home-articles-title {
        h3 {
            margin-bottom: 24px;
            margin-top: 0;
        }
    }
    .home-articles-latest {
        padding-left: 0;
    }
    .home-articles-latest-wrapper {
        margin-right: 0;
    }
    .home-article {
        padding-right: 0;
        margin-bottom: 25px;
    }
    .home-article-important {
        .home-article-content {
            padding-left: 20px;
        }
        .home-article-category {
            padding-right: 20px;
        }
    }
    .home-article-product-content {
        right: 0;
    }
    .home-article-product-category {
        padding-left: 20px;
        padding-right: 20px;
    }
    .home-article-product-title {
        padding-left: 20px;
    }
    .home-article-x2 {
        .home-article-product-content {
            right: 0;
            bottom: 43px;
        }
        .home-article-product-title {
            font-size: 18px;
            line-height: 1.2223;
            max-height: 66px;
        }
        .home-article-category {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
    .home-articles-other {
        padding-top: 30px;
        .home-article {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
    .home-expert-wrapper {
        margin-left: -25px;
        margin-right: -25px;
        padding-top: 0;
        flex-wrap: wrap;
    }
    .home-expert-block {
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 0;
    }
    .home-expert {
        margin-bottom: 31px;
        padding-left: 35px;
        padding-right: 35px;
    }
    .home-expert-img {
        padding-left: 35px;
        padding-right: 35px;
    }
    .home-tags {
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 25px;
        padding-left: 25px;
        margin-bottom: 25px;
        h4 {
            margin-top: 0;
            margin-bottom: 25px;
        }
    }
    .home-tags-list {
        padding-right: 10%;
    }
    .slidee {
        li {
            margin-right: 25px;
        }
    }
    .footer-menu {
        padding-bottom: 7px;
        & > li {
            flex: 0 0 100%;
            max-width: 100%;
            padding-right: 0;
            padding-bottom: 14px;
            & > a {
                margin-bottom: 14px;
            }
            ul {
                padding-bottom: 4px;
            }
        }
    }
    .footer-social {
        margin-top: 0;
        margin-bottom: 20px;
        padding-top: 28px;
        &:before {
            top: 0;
            right: 0;
            bottom: auto;
            width: auto;
            height: 2px;
        }
        li {
            flex: 0 0 50%;
            max-width: 50%;
            padding-left: 0;
        }
    }
    .footer-copyright {
        padding-top: 25px;
    }
    .footer-copyright-sep {
        clear: both;
        display: block;
        padding: 0;
        font-size: 0;
        line-height: 0;
        height: 0;
    }
    .navigation-content {
        &:before {
            display: none;
        }
    }
    .navigation-submenu {
        li {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
    .navigation-footer {
        padding: 46px 0 33px;
        .footer-social {
            margin-bottom: 26px;
            padding-top: 11px;
            li {
                padding-left: 0;
                padding-top: 7px;
            }
        }
    }
    .animationFadeInUp,
    .animationFadeInDown,
    .animationFadeIn,
    .visibility-hidden {
        visibility: visible !important;
        animation: none !important;
    }
    .services-hero {
        padding-bottom: 65%;
    }
    .services-hero-content {
        h5 {
            margin-bottom: 19px;
        }
        h1 {
            font-size: 28px;
            line-height: 1.143;
            margin-bottom: 19px;
        }
        p {
            max-width: none;
            line-height: 1.2223;
        }
    }
    .services-features {
        margin: 0 -25px 36px;
    }
    .services-features-free {
        padding: 37px 25px 34px;
    }
    .services-features-free-title {
        font-size: 20px;
        letter-spacing: -0.2px;
        margin-bottom: 23px;
    }
    .services-features-free-list {
        margin-right: 0;
        li {
            flex: 0 0 100%;
            max-width: 100%;
            padding-right: 0;
            span {
                padding-right: 0;
            }
        }
    }
    .services-features-cta {
        padding: 51px 25px 55px;
        h4 {
            font-size: 28px;
            line-height: 1;
            margin-bottom: 24px;
        }
        p {
            margin-bottom: 39px;
        }
    }
    .services-registration {
        margin-bottom: 8px;
    }
    .services-registration-caption {
        margin-bottom: 57px;
        h2 {
            font-size: 28px;
            line-height: 1.143;
            margin-bottom: 19px;
        }
        p {
            font-size: 18px;
            line-height: 1.2223;
            margin-bottom: 19px;
        }
    }
    .services-registration-caption-link {
        font-size: 22px;
    }
    .services-registration-steps {
        li {
            padding-right: 0;
        }
    }
    .services-registration-step {
        align-items: center;
    }
    .services-registration-step-number {
        padding-top: 0;
    }
    .services-packages {
        margin-bottom: 32px;
        h2 {
            font-size: 28px;
            line-height: 1.143;
            margin-bottom: 33px;
        }
    }
    .services-package-basic {
        margin: 0 -25px 32px;
        padding: 36px 25px 50px;
    }
    .services-package-basic-caption {
        padding: 0;
        margin-bottom: 32px;
    }
    .services-package-basic-caption-text {
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 0;
        margin-bottom: 16px;
    }
    .services-package-basic-caption-note {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .services-package-basic-title,
    .services-package-basic-advantages {
        padding: 0;
    }
    .services-package-basic-title-link {
        margin-bottom: 34px;
    }
    .services-package-basic-title-info {
        font-size: 20px;
        margin-bottom: 5px;
    }
    .services-package-basic-more {
        margin-bottom: 0;
        padding-top: 15px;
    }
    .services-package-basic-advantages li {
        padding-bottom: 22px;
    }
    .services-package {
        padding-bottom: 25px;
        margin-bottom: 20px;
    }
    .services-package-caption {
        align-items: center;
    }
    .services-package-img {
        flex: 0 0 88px;
        max-width: 88px;
        margin-bottom: 0;
        span {
            width: 62px;
            height: 62px;
        }
        img {
            width: 35px;
        }
    }
    .services-package-img-2 img {
        width: 31px;
    }
    .services-package-title {
        flex: 1 1 auto;
        max-width: none;
        padding-right: 0;
        margin-bottom: 0;
    }
    .services-package-title-link {
        font-size: 24px;
        margin-bottom: 10px;
        margin-top: 0;
    }
    .services-package-toggle {
        display: inline-block;
        vertical-align: top;
        margin-right: -15px;
        width: 28px;
        height: 28px;
        position: relative;
        &:before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -1px;
            margin-left: -6px;
            width: 13px;
            height: 8px;
            transition: transform $d $f;
            background: url('../images/arrow-down_c.svg') 0 0 no-repeat;
            background-size: 13px 8px;
        }
        &.active {
            &:before {
                transform: rotate(-180deg);
            }
        }
    }
    .services-package-options {
        display: none !important;
        padding-left: 0;
        &.open {
            display: block !important;
        }
    }
    .services-package-options-list {
        padding-top: 31px;
        li {
            flex: 0 0 100%;
            max-width: 100%;
            padding-right: 0;
            padding-bottom: 22px;
        }
    }
    .services-package-more {
        padding-bottom: 9px;
    }
    .services-packages-compare {
        padding-top: 14px;
    }
    .services-partners {
        padding-top: 38px;
        margin-bottom: 40px;
    }
    .services-partners-title {
        margin-bottom: 39px;
        h4 {
            font-size: 28px;
        }
    }
    .services-account {
        h3 {
            font-size: 28px;
            line-height: 1.072;
            margin-bottom: 41px;
        }
    }
    .services-account-steps {
        margin-bottom: 0;
    }
    .services-account-step {
        padding-bottom: 56px;
    }
    .services-account-documents {
        padding: 1px 0 17px;
        &:before {
            display: none;
        }
    }
    .services-account-documents-title {
        h4 {
            font-size: 20px;
        }
    }
    .services-account-documents-list {
        li {
            padding-bottom: 34px;
        }
    }
    .services-order-bg {
        display: none;
    }
    .services-order-content {
        padding-top: 44px;
        padding-bottom: 45px;
    }
    .services-order-title {
        h3 {
            font-size: 28px;
            line-height: 1.072;
        }
    }
    .services-order-title-info {
        font-size: 18px;
        padding-top: 7px;
    }
    .services-order-step {
        h5 {
            margin-bottom: 12px;
        }
    }
    .services-order-step-input,
    .services-order-step-city {
        margin-bottom: 8px;
        &:before {
            left: -20px;
        }
    }
    .services-order-step-1-next,
    .services-order-step-buttons {
        padding-top: 33px;
    }
    .services-order-step-city-panel {
        left: -20px;
        right: -20px;
        padding-right: 20px;
        padding-left: 23px;
        top: 0;
    }
    .services-order-step-confirm {
        padding-top: 26px;
        padding-bottom: 6px;
    }
    .services-order-step-error {
        padding-top: 20px;
    }
    .services-order-step-2-back {
        margin-right: 20px;
    }
    .modal-table-overflow {
        overflow: visible;
        -webkit-overflow-scrolling: auto;
        overflow-scrolling: auto;
    }
    .modal-compare {
        padding-bottom: 0;
        .modal-title {
            line-height: 1.12;
            font-size: 25px;
            padding-left: 25px;
        }
        .close {
            top: 42px;
            right: 14px;
        }
    }
    .modal-success {
        width: 400px;
        padding-top: 55px;
        padding-bottom: 60px;
    }
    .modal-success-title {
        line-height: 1.12;
        font-size: 32px;
        margin-bottom: 30px;
    }
    .compare-table {
        display: block;
        position: relative;
        padding-left: 115px;
        thead {
            width: 115px;
            position: absolute;
            left: 0;
            top: 0;
            display: block;
            tr {
                display: block;
                th {
                    height: 105px;
                    width: auto;
                    padding: 13px 0 0;
                    display: block;
                    &:first-child {
                        width: auto;
                        padding: 0;
                        height: 82px;
                        padding-top: 23px;
                        background: $white;
                        text-align: center;
                        border-bottom: 1px solid #e8e8e8;
                    }
                    &:last-child {
                        width: auto;
                        padding: 0;
                    }
                }
            }
        }
        tbody {
            display: flex;
            overflow: auto;
            -webkit-overflow-scrolling: auto;
            overflow-scrolling: auto;
            tr {
                display: block;
                td {
                    font-weight: normal;
                    border-top: 0;
                    font-size: 13px;
                    display: block;
                    padding: 40px 10px 0;
                    width: 140px;
                    height: 105px;
                    border-right: 1px solid #e8e8e8;
                    &:first-child {
                        height: 82px;
                        padding: 0 10px;
                        border-right-color: $white;
                        border-bottom: 1px solid #e8e8e8;
                    }
                    &:last-child {
                        padding: 40px 10px;
                    }
                }
            }
        }
    }
    .compare-icon {
        margin-bottom: 3px;
    }
    .package-advantages {
        h5 {
            margin-bottom: 19px;
        }
    }
    .package-info {
        padding-top: 31px;
        padding-bottom: 43px;
    }
    .package-info-caption {
        padding-top: 20px;
    }
    .package-info-title {
        margin-bottom: 26px;
    }
    .package-info-title-img {
        flex: 0 0 87px;
        max-width: 87px;
        padding-right: 22px;
    }
    .package-info-title-text {
        padding-right: 0;
        padding-top: 8px;
        h1 {
            font-size: 28px;
            span {
                padding-bottom: 2px;
            }
        }
    }
    .package-info-prices {
        margin-top: 0;
    }
    .package-info-prices-category {
        margin-bottom: 22px;
    }
    .package-info-prices-category-other {
        padding-top: 22px;
    }
    .package-info-button {
        padding-top: 24px;
    }
    .package-advantages {
        padding-top: 47px;
        padding-bottom: 37px;
    }
    .package-advantages-list {
        margin-right: -25px;
    }
    .package-advantages-item {
        flex: 0 0 50%;
        max-width: 50%;
        padding-right: 25px;
    }
    .package-advantages-compare {
        padding-top: 15px;
    }
    .package-include {
        margin-bottom: 38px;
        padding-top: 39px;
        padding-bottom: 36px;
        h2 {
            font-size: 28px;
            margin-bottom: 36px;
        }
    }
    .package-include-list {
        li {
            padding-left: 45px;
            margin-bottom: 31px;
            strong {
                font-size: 18px;
                line-height: 20px;
                margin-bottom: 10px;
            }
        }
    }
    .package-include-show {
        padding-top: 16px;
    }
    .article-hero {
        margin-bottom: 16px;
    }
    .article-hero-img {
        padding-top: 48%;
    }
    .article-hero-content {
        position: relative;
        left: auto;
        right: auto;
        bottom: auto;
        color: $text;
        padding: 27px 0 10px;
    }
    .article-hero-category {
        margin-bottom: 13px;
    }
    .article-hero-title {
        h1 {
            font-size: 24px;
            line-height: 28px;
            margin-bottom: 18px;
            letter-spacing: -0.2px;
        }
    }
    .article-hero-info {
        padding-bottom: 6px;
        p {
            font-size: 18px;
        }
    }
    .article {
        padding-top: 2px;
    }
    .article-popular {
        h4 {
            margin-top: 6px;
            padding-bottom: 14px;
            margin-bottom: 14px;
        }
    }
    .article-popular-item {
        padding-bottom: 17px;
        margin-bottom: 14px;
    }
    .article-expert {
        padding-right: 0;
        margin-bottom: 4px;
    }
    .wysiwyg {
        line-height: 20px;
        h2 {
            font-size: 20px;
            line-height: 24px;
            letter-spacing: -0.2px;
        }
        figcaption {
            font-size: 13px;
            line-height: 15px;
            padding-top: 5px;
        }
        blockquote {
            padding: 28px 0 31px 45px;
            margin-bottom: 31px;
            &:before {
                font-size: 78px;
                left: -4px;
            }
            p {
                font-size: 18px;
                line-height: 22px;
            }
            span {
                padding-right: 70px;
            }
            img {
                width: 37px;
                top: auto;
                bottom: 30px;
            }
        }
    }
}
@include media-breakpoint-down(xs) {    //max-width: 575px
    .home-article-x2 {
        .home-article-product-img {
            padding-top: 100%;
        }
        .home-article-product-title {
            max-height: 88px;
        }
    }
    .home-article-product-title {
        max-height: 88px;
    }
}