/* typography */
.svg {
    display: block;
    height: 0;
    padding-top: 100%;
    position: relative;
    svg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
}
.svg-stroke,
.svg-fill {
    transition: stroke $d*2 $f, fill $d*2 $f;
}
a {
    color: $link;
    text-decoration: none;
    background-color: $tr;
    transition: color $d $f, background-color $d $f, border-color $d $f, box-shadow $d $f;
    &:hover {
        color: $link-hover;
    }
    &:focus {
        // color: $link-hover;
    }
    &.underline {
        text-decoration: underline;
    }
}
.mb-0 {
    margin-bottom: 0 !important;
}
.clear-24 {
    clear: both;
    display: block;
    font-size: 0;
    line-height: 0;
    height: 1px;
    margin-bottom: 24px;
}
.wysiwyg {
    @extend .clearfix;
    h1 {
        margin-top: $spacer;
        margin-bottom: $spacer;
    }
    h2 {
        font-size: 30px;
        line-height: 34px;
        font-weight: bold;
        letter-spacing: -0.3px;
        margin-top: $spacer;
        margin-bottom: $spacer;
    }
    h3 {
        margin-top: $spacer;
        margin-bottom: $spacer;
    }
    h4 {
        font-size: 16px;
        line-height: 20px;
        font-weight: bold;
        text-transform: uppercase;
        margin-top: $spacer;
        margin-bottom: $spacer;
    }
    h5 {
        margin-top: $spacer;
        margin-bottom: $spacer;
    }
    h6 {
        margin-top: $spacer;
        margin-bottom: $spacer;
    }
    p {
        line-height: 26px;
        font-family: $ft;
        margin-top: 26px;
        margin-bottom: 26px;
    }
    a {
        // -ms-word-break: break-all;
        // word-break: break-all;
        // word-break: break-word;
        // -webkit-hyphens: auto;
        // -moz-hyphens: auto;
        // hyphens: auto;
    }
    img {
        display: block;
        margin-top: $spacer;
        margin-bottom: $spacer;
        &.alignleft {
            margin: $spacer $spacer $spacer 0;
        }
        &.alignright {
            margin: $spacer 0 $spacer $spacer;
        }
        &.aligncenter {
        }
    }
    figure {
        padding: 20px 0 18px;
        img {
            margin-top: 0;
            margin-bottom: 17px;
            width: 100%;
        }
    }
    figcaption {
        font-size: 14px;
        line-height: 18px;
        font-family: $ft;
        color: rgba(0, 0, 0, 0.6);
        letter-spacing: -0.2px;
    }
    blockquote {
        display: block;
        position: relative;
        border-top: 9px solid #f3f3f3;
        border-bottom: 9px solid #f3f3f3;
        margin-top: $spacer;
        margin-bottom: $spacer*2;
        padding: 43px 50px 50px 90px;
        font-weight: 300;
        color: rgba(0, 0, 0, 0.7);
        &:before {
            content: "“";
            position: absolute;
            top: 22px;
            left: 0;
            font-size: 110px;
            line-height: 1;
            font-weight: bold;
            color: #3bd3c7;
        }
        p {
            font-size: 26px;
            line-height: 32px;
            font-family: $ff;
            font-weight: 300;
            letter-spacing: -0.3px;
            margin-top: 0;
            margin-bottom: 0;
        }
        span {
            display: block;
            padding-top: 28px;
            font-size: 14px;
            line-height: 20px;
            font-family: $ft;
            letter-spacing: 0.4px;
        }
        img {
            position: absolute;
            top: 43px;
            right: 20px;
            width: 116px;
            border-radius: 50%;
            margin-top: 0;
            margin-bottom: 0;
        }
    }
    hr {
        clear: both;
        margin-top: $spacer;
        margin-bottom: $spacer;
        border: 0;
        border-bottom: 1px solid $light-gray;
        &.transparent {
            border-bottom-color: $transparent;
        }
    }
    ul {
        overflow: hidden;
        margin-top: $spacer;
        margin-bottom: $spacer;
        list-style: inside disc;
        li {
            padding-left: $spacer;
        }
    }
    ol {
        display: block;
        margin-top: $spacer;
        margin-bottom: $spacer;
        list-style: outside decimal;
        li {
            padding-left: $spacer;
        }
    }
    table {
        margin-top: $spacer;
        margin-bottom: $spacer;
        th {
            padding: $spacer/2 $spacer;
            background: $light-gray;
            border: 1px solid $light-gray;
        }
        td {
            padding: $spacer/2 $spacer;
            border: 1px solid $light-gray;
        }
    }
}